* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    color: red;
    text-align: center;
    font-size: 100px;
}

.description {
    font-size: 20px;
    color: purple;

}

.description2 {
    font-size: 20px;
    color: green;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: grab;
    box-shadow: 10px 10px black;
    border-radius: 50px;

}

button:hover {
    background-color: green;
    scale: 15;
    transition: width 2s;

}